
*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
}



body{
	position: relative;
	background: #cdcdcd;
	transition: .5s;
	font-family: sans-serif;
}

nav{
	background: #222;
	padding: 5px 20px;
}

ul{
	list-style-type: none;
}

a{
	color: #fff;
	text-decoration: none;
}

.logo a:hover {
   text-decoration: none;
 }

 .menu li{
 	position: relative;
 	font-size: 16px;
 	padding: 15px 5px;
 	white-space: nowrap;
 }

 .logo a, .toggle a{
 	font-size: 20px;
 }

 .botton.secondary{
 	border-bottom: 2px solid #444;
 }

/* --Mobile Menu--*/

.menu{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}

.toggle{
	order: 1;
}

.item.botton{
	order: 2;
}

.item{
	display: none;
	order: 3;
	text-align: center;
	width: 100%
}

.item.active{
	display: block;
}

.item:hover{
	background: #333;
}

.my-account.item{
	display: none;
}

.main-container{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin: 5px;
}

.producto-container img{
	position: relative;
	width: 120px;
	height: 100%;
	display: block;
}

.producto-container{
	margin: 5px;
	display: flex;	width: 100%;
	height: 150px;
	font-size: 15px;
	position: relative;
	background: #fff;
}

.producto-container:hover{
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.container-price{
	position: relative;
	width: 100%;
	height: 100%;
	display: flex;
	flex-wrap: wrap;
}

.h3-nombre{
	display: block;
	position: relative;
	padding: 12px 4px;
	width: 100%;
	height: 40%;
	order: 1;
}

.h3-price{
	display: block;
	position: relative;
	text-align: left;
	align-self: center;
	font-size: 24px;
	color: #000;
	padding-left: 8px;
	width: 100%;
	height: 25%;
	order: 2;
}

sup{
	padding-left: 0;
	vertical-align: text-bottom;
	color: #23bc48;
}


.cuotas{
	display: inline-block;
	position: relative;
	text-align: left;
	padding: 4px 4px;
	font-size: 16px;
	width: 100%;
	color: #37bc23;
	order: 3;
}

#button{
	display: none;
}



.footer{
	margin-top: 40px;
	display: flex;
	flex-wrap: wrap;
	background: #222;
	justify-content: center;
	width: 100%;
	height: 100%;
	color: #fff;
}

.footer>h4{
	padding: 12px 5px;
	text-align: center;
	position: relative;
	display: block;
	width: 100%;

}

.footer>a{
	position: relative;
	display: block;
	margin: 10px;
}

.mi-tienda{
	background: #cdcdcd;
	color: #000;
	font-size: 18px;
	padding: 5px 12px;
	transition: .5s;
}

.input-log-in{
	display: none;
}

.input-log-in.true{
	width: 90%;
	border-radius: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	height: 260px;
	margin: auto;
	top: 80px;
	z-index: 200;
	background: #65326e;
	transition: .4s;
}

.input-log-in input{
	position: relative;
	border-radius: 4px;
	margin-bottom: 16px;
	width: 300px;
	height: 25px;
	color: #198634;
}

.input-log-in input:last-child{
	margin-bottom: 22px;
}

.input-sign-up{
	display: none;
}

.input-sign-up.true{
	width: 90%;
	border-radius: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	height: 200px;
	margin: auto;
	top: 80px;
	z-index: 200;
	transition: .4s;
	background: #65326e;
}

.input-sign-up input{
	position: relative;
	border-radius: 4px;
	margin-bottom: 18px;
	width: 300px;
	height: 30px;
	color: #198634;
}

.input-sign-up input:last-child{
	margin-bottom: 22px;
}
/*--Tableta Menu--*/

@media all and (min-width: 600px){


.producto-container img{
	width: 240px;
}

.producto-container{
	height: 220px;
}


.h3-nombre{
	font-size: 24px;
	padding: 14px 8px;
	width: 100%;
	height: 20%;
	order: 1;

}

.h3-price{
	font-size: 30px;
	color: #000;
	padding-left: 20px;
	width: 100%;
	height: 20%;
	order: 2;
}

.cuotas{
	padding: 4px 4px;
	font-size: 18px;
	width: 100%;
	color: #37bc23;
	order: 3;
}



.menu{
	justify-content: center;
}

.logo{
	flex: 1;
}

.toggle{
	flex: 1;
	text-align: right;
}

.item.botton{
	width: auto;
	order: 1;
	display: block;
}

.toggle{
	order: 2;
}

.botton.secondary{
	border: 0;
}

.botton a { 
	padding: 7.5px 15px; 
	background: teal; 
	border: 1px #006d6d solid;
 }

 .botton.secondary a{
 	background: transparent;
 }

 .botton a{
 	text-decoration: none;
 }

 .botton:not(.secondary) a:hover {
  background: #006d6d; 
  border-color: #005959; 
 }

 .botton.secondary a:hover{
 	color: #ddd;
 }
 .botton:hover{
 	background: #222;
 }
}

/*--Desktop Menu--*/

@media all and (min-width: 900px){

.item{
	display: block;
	width: auto;
}

.toggle{
	display: none;
}

.logo{
	order: 0;
}

.item{
	order: 1;
}

.botton{
	order: 2;
}

.menu li{
	padding: 15px 10px;
}

.menu li.botton{
	padding-right: 0;
}

/*			 <li class="item"><a href="#">Blog</a></li>*/
.sidebar {
  flex-wrap: wrap;
  display: inline-block;
  height: 92.6%;
  width: 60px;
  position: absolute;
  background-color: #111;
  overflow-x: hidden;
  transition: .5s;
  padding-top: 24px;
  top: 3.2%;
  z-index: 100; 
  box-shadow: 0 0 3px 3px #1a1a1a;

}

.sidebar a{
	flex-wrap: wrap;
	position: relative;
	padding: 6px 8px 6px 16px;
	text-decoration: none;
	font-size: 20px;
	color: #818181;
	display: block;
}

/*span.active{
	display: none;
}*/

.span-item{
	position: absolute;
	display: inline-block;
	margin-left: 20px;
}

.sidebar-item{
	height: 60px;
	width: 100%;
}

.sidebar-item:hover{
	border-left: 3px solid #4cd;
	transition: .2s;
}

.sidebar:hover{
	width: 200px;
	transition: 0.5s;
}


.producto-container img{
	width: 100%;
	height: 240px;
	margin: 10px;
	margin: auto;
}

.producto-container{
	width: 260px;
	margin: 10px;
	display: block;
	height: 500px;
	font-size: 15px;
}

#button{
	display: flex;
	position: absolute;
	bottom: 0;
	height: 35px;
	text-decoration: none;
	border: none;
	font-size: 18px;
	width: 100%;
	background: #fff;
	color: #000;
	border: 2px solid #4caf50;
	transition-duration: .4s;
}

#button>span{
	margin: auto;
}

#button:hover{
	color: #fff;
	background: #4caf50;
}

.container-price{
	align-self: center;
	height: 240px;
	width: 230px;
	margin: auto;
}

.h3-nombre{
	height: 35%;
}

.h3-price{
	height: 20%;
}

.cuotas{
	height: 45%;
}

.main-container{
	position: relative;
	width: 90%;
	margin: 60px 10px auto auto;
}

.footer{
	position: relative;
}

.mi-tienda{
	margin-left: 60px;
}

}